body {
  padding:0px 0 30px 0;
  /*font:Microsoft Yahei;*/
}
.btn_null{
	
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.rich_media_content {
  margin-top: 35px;
}

 .rich_media_meta_list {
  margin-top: 35px;
}
.article_row {
  margin-top:75px;
  background-color:#f6f6f6;
}

.article_column {
  background-color:white;
}

.article_content {
  margin-top:58px;
  margin-left:50px;
  margin-right:100px;
}

.sidebar{
  position: fixed;
  top: 80px;
  left:100px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}