body {
  padding:0px 0 30px 0;
  /*font:Microsoft Yahei;*/
}
.btn_null{
	
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.rich_media_content {
  margin-top: 35px;
}

 .rich_media_meta_list {
  margin-top: 35px;
}
.article_row {
  margin-top:75px;
  background-color:#f6f6f6;
}

.article_column {
  background-color:white;
}

.article_content {
  margin-top:58px;
  margin-left:50px;
  margin-right:100px;
}
.data_table {
  cursor: pointer !important;
  margin-top:25px !important;
}

.about_content {
  background-color:white;
  margin-right:10px;
}
.about_content p{
  margin-left:7px;
}

.data_button {
  margin-right: 30px !important;
}

.about_column {
  margin-top:30px;
}

.arrow_div {
  margin-top:82px;
}

.data_column {
  margin-top:35px;
}

.sidebar{
  position: fixed;
  top: 80px;
  left:100px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.navbar-nav>li>.dropdown-menu {
  /*background-color: #f7f8f9 !important;*/
  padding-top: 0 !important;
  padding-bottom: 5px !important;
  margin-top: 34px;

}

.dropdown-menu li:hover{
  color: #2757b9;
  background-color: transparent !important;
}
.dropdown-menu li:hover  > a{
  background-color: #fcfcfc !important;
  color: #1569b4!important;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover{
  background-color: #848484;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover {
  background-color: #fcfcfc;
  color:#1569b4;
}
.dropdown-menu .divider {
  height: 1px; !important;
  margin: 9px 0; !important;
  overflow: hidden; !important;
  background-color: #e5e5e5; !important;
  width: 100%;!important;
}
/*
 .navbar-nav>li>.dropdown-menu>a,
 .navbar-nav>li>.dropdown-menu>a:focus,
 .navbar-nav>li>.dropdown-menu>a:hover {
   background-color: #0066AA;!important;
  color: red;
}*/
/*.dropdown-menu {*/
  /*position: absolute;*/
  /*top: 100%;*/
  /*left: 0;*/
  /*z-index: 1000;*/
  /*float: left;*/
  /*min-width: 160px;*/
  /*padding: 5px 0;*/
  /*margin: 2px 0 0;*/
  /*font-size: 14px;*/
  /*text-align: left;*/
  /*list-style: none;*/
/*}*/