#qrcode-index-id{
    width:100%;height:100%;
}

.content-font{
    font-style: italic;
}


body {
    /*padding for fixed top nav*/
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/

    font-family: "Roboto";
    font-size: 16px;
    font-smoothing: antialiased;
    /*line-height: 24px;*/
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #777;
}

img {
    max-width: 100%;
    height: auto;
}
a {
    /*color: #135FA3;*/
    /*color: #00B0FF;*/
    color: #216dae;
}

/*Main Navbar*/
/*.navbar-fixed-top*/
nav.navbar.navbar-inverse.navbar-static-top,
nav.navbar.navbar-inverse.navbar-fixed-top {
    height: 100px;
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    margin-bottom: 0px;
}

.navbar-inverse .navbar-nav .menu-item-has-children li a {
    word-break: break-word;
    white-space: normal;
}

.navbar-brand>img {
    margin-top: -15px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #777777;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 10px;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:active {
    color: #777777;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    color: #777777;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: rgba(255, 255, 255, 0);
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: rgba(255, 255, 255, 0);
}

nav.navbar li{
    float: none;
    padding: 10px 10px 0px 0px;
}
nav.navbar li#menu-item-5611 {
    width: 100%;
    display: block;
    float: none;
}

nav.navbar .container {
    max-width: 1228px;
    padding-top: 16px;
}

.navbar-nav {
    /*padding-left: 30px;*/
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form{
    border-color :#fff;
    background-color: #416ec7;
    margin-top: 23px;
}

.navbar-inverse .navbar-toggle {
    border-color :#fff;
    margin-top: 15px;
}

.navbar-inverse .navbar-toggle:hover {
    border-color :#fff;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    border-color :#fff !important;
    background-color: rgba(255, 255, 255, 0.06);
}


.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    padding-bottom: 0px;
}

.navbar-right {
    margin-top:19px;
}

.navbar-right .greenbtnSolid{
    margin-left: 10px;
}

.greybtn {
    color: #777777;
    font-size: 14px;
    float: left;
    padding: 6px 15px;
    /*background-color: #F6F6F6;*/
    border-radius: 18px;
    border: 2px solid #919191;
    font-weight: 500;
}

.whitebtn {
    color: white;
    font-size: 14px;
    float: left;
    padding: 11px 35px !important;
    /*background-color: #F6F6F6;*/
    border-radius: 18px;
    border: 2px solid white;
    font-weight: 500;
    width: auto;
}
.whitebtnSolid {
    color: #3fb34f;
    background-color: #fff;
    border: 2px solid #fff;
}
.whitebtn:hover {
    color: #777777;
}


.greenbtn,
.green-btn {
    font-size: 14px;
    float: left;
    padding: 6px 25px;
    color: #3fb34f;
    border-radius: 18px;
    border: 2px solid #3fb34f;
    font-weight: 500;
}

.greenbtn:hover,
.green-btn:hover{
    color: #3fb34f;
}

.greenbtnSolid {
    color: white;
    background-color: #3fb34f;
}

.greenbtnSolid:hover {
    color: #e2e2e2;
}

/*Homepage Casesudy*/

.buttongroup {
    padding-top: 40px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.buttongroup .greenbtn {
    margin-right: 10px;
    float: none !important;
    display: inline-block;
    margin: 5px;
}
.buttongroup .greybtn {
    float: none !important;
    display: inline-block;
    margin: 5px;
}


/*Jumbotron header on homepage*/
.jumbotron {
    padding-top: 0px;
    margin-top: 100px;
    padding: 0;
    margin-bottom: 0;
}

.jumboheading p {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 2px;
    /*width: 70%;*/
    margin: auto;
}


.jumbobuttons,
.jumboheading.text-center .jumbobuttons {
    margin: auto;
    width: 100%;
    text-align: center;
    /*   width: 305px; */
}
.jumbobuttons .greenbtn,
.jumbobuttons .green-btn,
.jumbobuttons .greybtn{
    text-align: center;
    display: inline-block;
    float: none !important;
}

.jumbobuttons .greenbtn.greenbtnSolid,
.jumbobuttons .green-btn.greenbtnSolid,
.jumbobuttons .whitebtn {
    margin: 10px 10px 0 0;
    float: none !important;
    display: inline-block;
}


.jumbotron h1 {
    color: #FFF;
    font-size: 26px;
    text-align: center;
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 5px;
}


.jumbotron .container {
    max-width: 1000px;
}

.jumbotron .cta {
    text-align: left;
    padding-top: 20px;
}

.jumbotron .cta h2 {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
}

.jumbotron .cta sup {
    font-size: 15px;
    font-weight: 200;
    top: -.8em;
}

.jumbotron .cta p {
    padding: 0px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}
.jumbotron .cta button {
    color: #FFF;
    background-color: #EC9C11;
    border: 0;
    width: 175px;
    height: 45px;
}

.ctaholder {
    background-color: #F6F6F6;
}





/****
** Edits 4/8
---------------------*/
/* Product Dropdown*/
nav.navbar li .menu-item.show-sub-menu {
    padding-right: 0 !important;
}

nav.navbar li span.desc {
    display: block;
    color: #777777;
    line-height: 30px;
    font-size: 15px;
    padding-top: 0;
    margin-top: -9px;
    padding-bottom: 5px;
    font-weight: normal !important;
    font-size: 15px !important;
}

nav.navbar li sup {
    top: 17px !important;
}

.navbar-inverse .navbar-nav li.menu-item-has-children li.menu-item.gray-colored-menu {
    background-color: #919191 !important;
    float: none !important;
    padding-right: 0;
    text-align: center !important;
    width: 100% !important;
    clear: both !important;
    margin-bottom: 5px;
}
.navbar-inverse .navbar-nav li.menu-item-has-children li.menu-item.nav-title a {
    color: #919191 !important;
    font-weight: bold;
}

.navbar-inverse .navbar-nav li.menu-item-has-children li.menu-item.gray-colored-menu a {
    color: #ffffff !important;
    padding: 0px 20px !important;
    font-size: 15px !important;
    font-weight: normal !important;
}
.navbar-inverse .navbar-nav li.menu-item-has-children li.menu-item.gray-colored-menu a {
    background: #919191 !important;
}

.navbar-inverse .navbar-nav li.menu-item-has-children li.menu-item.gray-colored-menu:hover {
    padding-right: 0 !important;
}

.navbar-inverse .navbar-nav li.menu-item-has-children li.menu-item.gray-colored-menu a:hover{
    background-color: transparent !important;
}



@media (min-width: 768px) {
    .footerCaptora .cp_linklist li {
        width: 29.6%;
        display: inline-block;
    }
}



@media (min-width: 768px) {

    .navbar-nav {
        padding-left: 0px;
        margin-top: 0;
    }

    nav.navbar li {
        float: left;
        padding: 10px 0px 0px 0px;
    }

    nav.navbar li .menu-item {
        width: 100%;
        border-top: 1px solid #e2e2e2;
        padding-top: 0px;
        padding-right: 10px;
    }

    nav.navbar li .menu-item:first-child {
        border-top: 0px solid #e2e2e2;
    }


    .inner-addon .glyphicon {
        visibility: hidden;
    }

    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        margin-top: 5px;
        background-color: rgba(65, 110, 199, 0);
    }

    .navbar-form .input-group>.form-control {
        visibility: hidden;
    }

    form.navbar-form.navbar-right {
        width: 10px;
    }


    .jumbotron {
        /*height: 560px;*/
    }

    .jumboheading p {
        text-align: center;
        color: white;
        font-weight: 500;
        font-size: 20px;
        padding: 30px;
        width: 70%;
        margin: auto;
    }

    .jumbotron h1 {
        font-size: 45px;
        padding-top: 220px;
        margin-bottom: -5px;
    }


    .jumbotron .cta {
        padding-top: 40px;
    }

    .jumbotron .cta h2 {
        font-size: 27px;
    }

    .jumbotron .cta sup {
        font-size: 16px;
        font-weight: 200;
        top: -.8em;
    }

    .jumbotron .cta p {
        padding: 10px 0;
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
    }

    .jumbotron .cta button {
        color: #FFF;
        background-color: #EC9C11;
        border: 0;
        width: 175px;
        height: 45px;
    }

}


/*992 Desktop*/
@media (min-width: 992px) {
    .container {
        max-width: 926px;
    }

    nav.navbar li {
        float: left;
        padding: 10px 10px 0px 0px;
    }

    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        margin-top: 5px;
        background-color: rgba(65, 110, 199, 0);
    }

    .navbar-form .input-group>.form-control {
        visibility: visible;
    }

    form.navbar-form.navbar-right {
        width: 20%;
    }

    .inner-addon .glyphicon {
        visibility: visible;
    }

    .jumbotron {
        /*height: 560px;*/
    }

    .jumbotron h1 {
        font-size: 50px;
        padding-top: 220px;
    }

    .jumbotron .cta {
        /*text-align: center;*/
        padding-top: 50px;
    }

    .jumbotron .cta h2 {
        font-size: 35px;
    }

    .callouts {
        /*height: 274px;*/

        float: none;
    }


    /*
      .cards .cards-single {
          width: 300px;
      }

      .cards .cards-single img {
          width: 300px;
      }

      .cards .cards-single h3 {
        padding: 20px 23px 0 25px;
        font-size: 24px;
      }
      .cards .cards-single p {
        padding: 0 25px;
        font-size: 18px;
        font-weight: 400;
      }

      .cards .cards-single a {
        font-size: 16px;
        padding: 0 25px;
      }

    */


    .footerRight {
        padding-right: 60px;
    }


}


/*992 Desktop*/
@media (min-width: 1200px) {
    .container {
        /*max-width: 1000px;*/
    }
    .footerLeft {
        float: left;
    }

    .footerRight {
        padding-right: 120px;
    }

}

/*992 Desktop*/
@media (max-width: 1200px) {
    .navbar-inverse .navbar-nav>li>a {
        font-size: 17px;
    }

    .resources-section.resources-block .image-holder {
        width: 100% !important;
        height: 140px !important;
    }

    .navbar-inverse .navbar-nav > li > a {
        padding: 10px 8px 40px !important;
    }

    .navbar-brand {
        padding: 10px 15px !important;
    }

    .navbar-right {
        margin-top: 10px;
    }
}

/*992 Ipad*/
@media (max-width: 1024px) {
    #text-2 .OneLinkHide {
        top: 2px !important;
        left: 10px !important;
    }
    #text-2 .OneLinkHide a {
        color: #fff !important;
    }
    /*show navbar toogle*/
    .navbar-toggle {
        display: block;
    }

    .navbar-header {
        float: none;
    }

    .navbar-nav {
        float: none;
        margin: 0;
    }

    nav.navbar li {
        float: none;
    }

    .navbar-inverse .navbar-collapse {
        border-color: #fff;
        background-color: #416ec7;
        margin: 23px -10px 0;
    }

    .navbar-collapse.collapse {
        display: none !important;
        overflow-y: scroll !important;
    }

    nav.navbar .container {
        max-width: 100% !important;
        padding: 10px;
        width: 100% !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-right {
        float: none !important;
        margin-right: 0;
        padding: 0 0 20px;
    }

    #product-section-3 .col-md-6.pull-right {
        float: none !important;
    }

    ul.unstyled.leadership-list li.individual,
    ul.unstyled.investor-list li.investor {
        width:100%;
    }

    .single-successstories .jumbotron h1 {
        padding-top: 20px !important;
    }

    .single-successstories .bgimage {
        height: auto !important;
        padding-bottom: 50px;
    }

    .single-successstories #product-section-3 {
        padding: 35px 0 61px !important;
    }

    .single-successstories #product-section-3 .heading-row {
        padding-bottom: 16px !important;
    }

    .single-successstories #product-section-7 {
        padding: 50px 0 32px !important;
    }

    .single-successstories .company-overview {
        padding: 22px 0 30px !important;
    }

    .single-successstories #product-section-8 {
        padding: 20px 0 0 !important;
    }

    .single-successstories #product-section-8 .jumbobuttons {
        width: 100% !important;
        margin: auto auto 45px !important;
    }

    .resources-section.resources-block .image-holder-wrap {
        padding-right: 15px;
    }

    .resources-section.resources-block .image-holder {
        width: 140px !important;
        height: 140px !important;
        margin: auto;
    }

    .resources-section.resources-block .single-resource {
        text-align: center;
    }

    .presentation-section .newslist-defaultlist .single-presentation {
        text-align: center;
    }

    .presentation-section .newslist-defaultlist,
    .videos-section .newslist-defaultlist{
        padding-top: 45px !important;
    }

    .whitepaper-section .newslist-defaultlist {
        padding-top: 75px !important;
    }
    .center-block-sm{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .whitepaper-section .single-whitepaper {
        padding-bottom: 40px !important;
        text-align: center;
    }

    .whitepaper-section .single-whitepaper h3 {
        margin-bottom: 5px !important;
        margin-top: 12px !important;
    }

    .datasheet-section .single-datasheet .content,
    .whitepaper-section .single-whitepaper .content {
        padding-left: 15px !important;
    }

    .videos-section .newslist-defaultlist .single-video,
    .datasheet-section .single-datasheet{
        text-align: center;
    }

    .datasheet-section .single-datasheet h3 {
        margin-top: 20px !important;
    }

    .datasheet-section .datasheets-defaultlist hr {
        margin: 20px 0 40px !important;
    }

    .datasheets-defaultlist h2.sub-head {
        margin-bottom: 10px !important;
    }

    .navbar-right .side {
        display: block;
        margin: 0 !important;
        padding: 10px 20px !important;
        color: #fff !important;
    }

    .navbar-right .side .greybtn {
        border: 2px solid #fff !important;
        background-color: #fff;
    }

    .navbar-right .greybtn {
        margin:5px !important;
        background-color: #F6F6F6 !important;
        float: none;
        display: inline-block;
    }

    .navbar-right .greenbtnSolid {
        float: none !important;
        display: inline-block;
        margin: 5px !important;
    }

    .download-gray-form h2.module-heading {
        margin: 0 -6px 0 -23px !important;
        background-position: 20px center !important;
        padding: 20px 20px 20px 100px !important
    }

    .download-gray-form {
        padding: 0 6px 0 23px !important;
    }

    .marketo-section.content-section .content {
        padding-right: 0 !important;
    }

    ul.unstyled.leadership-list li.individual {
        width: 32% !important;
    }

    .grouping .location-detail {
        text-align: center;
    }

    .blogholder.archive-awards .cf.awards img.thumbnail-award{
        margin-bottom: 20px;
    }

    .blogholder.archive-awards h1,
    .blogholder.archive-awards h1 a {
        font-size: 26px;
        line-height: 29px;
    }
    #solutions-section-4.solution-detail-section .blurb{
        clear:both;
    }
    #solutions-section-5.solution-detail-section .resource {
        padding-bottom: 35px;
    }


    #solutions-section-5.solution-detail-section {
        padding: 50px 25px !important;
    }

    .events-section .newslist-defaultlist .single-event,
    .events-section .newslist-defaultlist .single-event .event-thumbnail-wrap,
    .events-section .newslist-defaultlist .single-event .event-detail {
        display: block !important;
        width: 100% !important;
    }

    .events-section .newslist-defaultlist .single-event .event-detail {
        padding: 19px 0 0 !important;
    }

    .events-section.upcoming-events .newslist-defaultlist h2.sub-head {
        padding: 20px 0 50px !important;
    }

    .product-page-single .product-additional-resources {
        padding: 23px 15px 52px !important;
    }

    .admin-bar .navbar-static-top, .admin-bar .navbar-fixed-top {
        margin-top: 31px !important;
    }

    .navbar-inverse .navbar-nav > li > a {
        padding: 10px 8px !important;
    }

    .navbar-inverse .navbar-nav>li>a,
    .navbar-inverse .navbar-nav>li>a:hover,
    .navbar-inverse .navbar-nav>li>a:focus,
    .navbar-inverse .navbar-nav>li>a:active{
        color: #fff !important;
    }


    #awards .award-thumbnail {
        height: auto !important;
        display: inline-block !important;
    }

    #awards .award-thumbnail img {
        top: 0 !important;
        -webkit-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
        transform: translateY(0) !important;
    }

    .about-landing #awards h3 {
        margin: 0 0 39px !important;
    }

    .about-landing #awards .greybtn.award-btn {
        margin: 0 !important;
    }


    .solution-landing-page .solutions .solutions-item {
        width: 49% !important;
    }

    .page-buttons {
        padding-top: 50px !important;
    }

    .footerHolder.footerCaptora .container {
        padding: 0 15px !important;
    }
}
@media (max-width: 783px) {
    .admin-bar .navbar-static-top, .admin-bar .navbar-fixed-top {
        margin-top: 45px !important;
    }
}
/*767 mobile*/
@media (max-width: 767px) {
    .homecta .greenbtn.visible-xs {
        display: inline-block !important;
    }

    .valuepropsheading, .homectaheading {
        padding-bottom: 5px;
    }

    .blurb-cta {
        padding-bottom: 30px;
    }

    .subpageheader {
        padding-bottom: 20px !important;
    }

    .clear-xs{
        clear:both;
    }

    .datasheet-section .single-datasheet .content,
    .whitepaper-section .single-whitepaper .content{
        padding-left:15px;
    }

    .single-successstories #jumbotron p {
        padding: 5px 0 15px 0 !important;
    }

    .single-successstories #product-section-3 h2 {
        font-size: 30px !important;
        line-height: 35px !important;
    }

    .single-successstories #product-section-3 p.sub_heading {
        font-size: 16px !important;
        line-height: 26px !important;
    }

    .single-successstories #product-section-7 p {
        font-size: 17px !important;
        line-height: 18px !important;
    }

    .single-successstories .company-overview h1.headline {
        font-size: 30px !important;
        line-height: 33px !important;
    }

    .single-successstories #product-section-8 h2 {
        font-size: 33px !important;
        line-height: 38px !important;
    }

    .single-successstories #product-section-8 p {
        font-size: 16px !important;
    }

    .news-list-page .newslist-defaultlist h1 {
        margin: 34px 0 31px !important;
    }

    .news-list-page .newslist-defaultlist .individual-news {
        padding-bottom: 15px !important;
    }

    .nav-press-releases {
        padding-top: 20px !important;
        padding-bottom: 0 !important;
    }

    .resources-section.resources-block .single-resource {
        padding-top: 10px !important;
        padding-bottom: 30px !important;
    }

    .resources-section .bannerholder {
        padding: 15px 0 25px !important;
    }

    .newslist-defaultlist .individual-media .thumb-holder {
        width: 218px;
    }

    .newslist-defaultlist .individual-media {
        text-align: center;
    }

    .presentation-section .newslist-defaultlist .single-presentation {
        padding-bottom: 33px;
        text-align: center;
    }

    .resources-section .bannerholder .banner .secondsubpageheader h1 {
        font-size: 45px !important;
    }

    .download-gray-form {
        padding: 0 17px 0 17px !important;
    }

    .download-gray-form h2.module-heading {
        margin: 0 -17px 0 -17px !important;
        padding: 103px 15px 24px 15px !important;
        background-position: center 14px !important;
        text-align: Center;
    }

    body .marketo-section .gform_wrapper label.gfield_label+div.ginput_container .jcf-select {
        width: 100% !important;
    }

    .download-gray-form .gform_wrapper .gform_footer {
        padding: 28px 0 0 0 !important;
    }

    .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span.name_first{
        margin: 0 0 5px !important;
    }

    .marketo-section .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span.name_first {
        margin: 0 0 15px !important;
    }

    .marketo-section .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span.name_last {
        margin: 0 !important;
    }

    .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span.name_first,
    .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_last_name span.name_last {
        width: 100% !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .marketo-section .gform_wrapper input[type=email], .marketo-section .gform_wrapper input[type=number], .marketo-section .gform_wrapper input[type=password], .marketo-section .gform_wrapper input[type=tel], .marketo-section .gform_wrapper input[type=text], .marketo-section .gform_wrapper input[type=url]{
        width: 100% !important;
    }

    ul.unstyled.leadership-list li.individual {
        width: 100% !important;
    }

    ul.unstyled.investor-list li.investor {
        width: 100% !important;
    }
    .about-landing .grouping h1,
    .about-landing #contact.grouping h1{
        font-size: 50px !important;
    }

    .about-landing #awards h1 {
        font-size: 40px !important;
    }

    .single-leadership .container.individual img.circle-photo {
        margin: 20px auto;
    }

    .single-leadership .container.individual ul.social-links {
        margin: 10px 0;
    }

    #solutions-section-4.solution-detail-section img {
        float: none !important;
        display: block;
        margin: 0 auto;
    }

    .success-story-section .single-success-story .company-thumbnail-wrap,
    .success-story-section .single-success-story .company-detail {
        width: 100% !important;
        display: block !important;
    }

    .success-story-section .otherClients ul.other-clients li {
        width: 50% !important;
        padding: 15px !important;
    }

    .success-story-section .single-success-story .company-detail {
        padding: 20px 0 !important;
    }

    .product-page-single #product-section-5 {
        padding: 50px 25px;
    }

    .product-page-single #product-section-6 {
        padding: 50px 25px;
    }

    #wpadminbar {
        position: fixed !important;
    }

    .additional-resources,
    .additional-resources .resource-link-wrap{
        text-align: center !important;
    }

    .product-page-single .additional-resources h3.resource.title {
        margin-bottom: 10px !important;
    }

    .product-page-single .jumbotron h1,
    .product-page-single .jumboheading,
    .product-page-single .jumbobuttons,
    .product-page-single .jumbotron p{
        text-align: center !important;
    }

    .product-page-single .jumbotron p {
        font-size: 18px !important;
        padding: 20px !important;
    }

    .jumbobuttons .greenbtn.greenbtnSolid,
    .jumbobuttons .whitebtn {
        margin: 10px 5px 15px !important;
    }

    .home .jumbotron .bgimage{
        height: auto !important;
        padding: 21px 0 46px;
    }

    .padbox {
        padding: 30px !important;
    }

    .product-page-single .jumbotron h1 {
        padding-top: 50px !important;
        font-size: 40px !important;
    }

    .product-page-single .jumbotron .bgimage{
        padding-bottom:50px !important;
    }

    .solution-landing-page .solutions .solutions-item {
        width: 100% !important;
    }

    .jumbotron h1 {
        padding-top: 60px !important;
        font-size: 50px !important;
    }

    .bgimage {
        height: auto !important;
        padding-bottom: 60px;
    }

    .cta-bottom h2{
        font-size: 27px;
    }

    .cta-bottom .text-cta{
        font-size: 16px;
        line-height: 20px;
    }

    .cta-bottom .jumbobuttons {
        padding: 10px 0 0;
    }

    .footer-captora-col .cp_linklist li {
        width: 100% !important;
    }

    .single-author-page .author-content .author-name,
    .single-author-page .author-content .author-position-title {
        text-align: center;
    }

    .single-author-page .author-content .author-details{
        width:100% !important;
    }

    .single-author-page .author-content {
        padding: 0 !important;
    }

    /*
    * Edits 08-08-16
    *----------------------*/
    .buy-page-body .main-content .container.cta-container,
    .buy-page-body .main-content .container.cta-container .row,
    .buy-page-body .main-content .container.cta-container .cta-col {
        display: block;
        text-align: center;
    }

    .buy-page-body .main-content .container.cta-container .cta-col{
        margin:0 0 30px;
    }

    .buy-page-body .main-content .container.cta-container .cta-col:last-child{
        margin: 0;
    }

    .buy-page-body .resources-section .bannerholder {
        padding: 0 !important;
    }
} /*767px*/

@media (max-width: 384px) {
    #product-section-8 .jumbobuttons {
        width: 100%;
    }
}


.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #1b6bb1;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #095DA5;
}

.navbar-inverse .navbar-toggle {
    border: 1px solid #095DA5;
}

.bannerholder {
    margin-top: 100px;
}


/*
* Media Queries
*--------------------*/
@media ( max-width: 1199px ){
    .navbar-right .top-search {
        padding-left: 4px;
    }

    .navbar-right .greenbtnSolid {
        margin-left: 5px;
    }

    nav.navbar .navbar-nav > li {
        padding-right:  6px;
    }

}

@media ( max-width: 992px ){

    .navbar-right .top-search .top-search-icn,
    .top-search-form-wrap:before{
        display: none;
    }

    .navbar-right .top-search .top-search-form-wrap,
    .navbar-right .top-search .top-search-form-wrap.hide {
        display: block !important;
        position: relative !important;
        top: auto !important;
        right: auto !important;
        height: auto !important;
        width: 100% !important;
    }

    .navbar-right .navbar-widget-wrap,
    .navbar-right .top-search {
        display: block;
        vertical-align: middle;
        text-align: center;
    }

    .navbar-right .top-search {
        padding: 0 10px;
        max-width: 360px;
        margin: 0 auto;
    }

    .navbar-right .top-search .top-search-form-wrap .searchform {
        background: transparent;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .navbar-right .top-search .top-search-form-wrap input#s{
        background: #fff;
    }

    .navbar-right .top-search .top-search-form-wrap input#searchsubmit {
        display: inline-block;
    }



}

@media ( max-width: 991px ){

    .single-author-page .author-content .author-details {
        width: 100%;
        text-align: center;
    }

    .single-author-page .author-content .author-bio {
        text-align: center;
    }

    .single-author-page .author-container {
        margin-top: 120px !important;
    }

    /* Edits 02.02.17 */
    .alert-dismissable .close, .alert-dismissible .close {
        top: -40px;
    }
    .news-ticker-table {
        max-width: 545px;
        margin: 0 auto;
    }
    .text-center-sm {
        text-align: center;
    }

    .alert.news-ticker .container a.learn-more {
        margin-top: -7px;
    }

    .news-ticker-table .news-ticker-table-cell h5 a {
        max-width: 460px;
    }

    .news-ticker-table {
        max-width: none;
    }

    .container{
        width:100%;
    }

}

@media (max-width: 768px) {

    nav.navbar li .menu-item {
        width: 100%;
        border-top: 1px solid #e2e2e2;
        padding-top: 0px;
        padding-right: 10px;
    }

    .jumbotron .bgimage.enabled-news-ticker h1 {
        padding-top: 0 !important;
        font-size: 23px !important;
    }

    .enabled-news-ticker .jumboheading .jumbobuttons .greenbtn {
        font-size: 14px !important;
    }
}

@media (max-width: 480px) {
    .news-ticker-table {
        max-width: none;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .jumbotron .enabled-news-ticker h1 {
        font-size: 30px;
        padding-top: 105px;
        line-height: 38px;
        max-width: 900px;
        margin: auto;
    }
    .enabled-news-ticker .jumboheading p {
        font-weight: 400;
        font-size: 16px;
        padding: 10px 30px 30px;
    }
    .bgimage.enabled-news-ticker {
        padding-bottom: 130px;
    }
}

@media (max-width: 767px) {
    span.item-type {
        display: block;
        text-align: center;
        padding-bottom: 10px;
    }

    span.item-type-border {
        display: none;
    }

    .news-ticker-table .news-ticker-table-cell h5 a {
        text-align: center;
        display: block;
    }

    span.item-date {
        text-align: center;
        display:block;
    }

    .alert.news-ticker .container a.learn-more {
        float: none;
        margin: 15px auto 0;
        display: block;
    }
}


@media screen and (max-width: 1200px) {
    #text-2 .OneLinkHide {
        top: 2px !important;
        left: 10px !important;
    }
    #text-2 .OneLinkHide a {
        color: #fff !important;
    }
    /*show navbar toogle*/
    .navbar-toggle {
        display: block;
    }

    .navbar-header {
        float: none;
    }

    .navbar-nav {
        float: none;
        margin: 0;
    }

    nav.navbar li {
        float: none;
    }

    .navbar-inverse .navbar-collapse {
        border-color: #fff;
        background-color: #416ec7;
        margin: 23px -10px 0;
    }

    .navbar-collapse.collapse {
        display: none !important;
        overflow-y: scroll !important;
    }

    nav.navbar .container {
        max-width: 100% !important;
        padding: 10px;
        width: 100% !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-right {
        float: none !important;
        margin-right: 0;
        padding: 0 0 20px;
    }




    .navbar-right .side {
        display: block;
        margin: 0 !important;
        padding: 10px 20px !important;
        color: #fff !important;
    }

    .navbar-right .side .greybtn {
        border: 2px solid #fff !important;
        background-color: #fff;
    }

    .navbar-right .greybtn {
        margin:5px !important;
        background-color: #F6F6F6 !important;
        float: none;
        display: inline-block;
    }

    .navbar-right .greenbtnSolid {
        float: none !important;
        display: inline-block;
        margin: 5px !important;
    }


    .admin-bar .navbar-static-top, .admin-bar .navbar-fixed-top {
        margin-top: 31px !important;
    }

    .navbar-inverse .navbar-nav > li > a {
        padding: 10px 8px !important;
    }

    .navbar-inverse .navbar-nav>li>a,
    .navbar-inverse .navbar-nav>li>a:hover,
    .navbar-inverse .navbar-nav>li>a:focus,
    .navbar-inverse .navbar-nav>li>a:active{
        color: #fff !important;
    }



    .page-template-page-about-partners-isv-landing .isvs-partners-quick-links {
        margin: 0 auto;
        position: relative;
        left: initial;
    }
    .page-template-page-about-partners-isv-landing .isvs-partners-quick-links .col-md-4 {
        text-align: center;
    }
    .page-template-page-about-partners-isv-landing .isvs-partners-quick-links .col-md-4.big-data img {
        position: relative;
        max-width: 35px;
        margin-left: 0px;
    }
    .page-template-page-about-partners-isv-landing .isvs-partners-quick-links .col-md-4.search img {
        position: relative;
        max-width: 35px;
        margin-left: 0px;
    }
    .page-template-page-about-partners-isv-landing .isvs-partners-quick-links .col-md-4.iot-and-embedded img {
        margin-left: 0px;
    }

}