<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<title>沪牌不求人</title>

<!-- Bootstrap core/table CSS -->
<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="js/table/bootstrap-table.css" />

	<!-- Bootstrap theme -->
<!-- link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet" -->
<!--<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
-->
<!-- Custom styles for this template -->
<link type="text/css" rel="stylesheet" href="css/font.css" />
<link type="text/css" rel="stylesheet" href="css/index.css" />
	<link type="text/css" rel="stylesheet" href="css/default.css" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
</head>
<body role="document" ng-app="myApp" class="font-hei" ng-controller="homeController" style="padding-bottom:50px;">


	<!-- Fixed navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="mainMenu">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/start/main" target="_self">
					<img alt="沪牌不求人" src="img/iconNew.jpg"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li id="nav_main_id" ui-sref-active="active" ui-sref="start.main"><a href="#/start/main">进入首页</a></a></li>
					<li id="nav_flow_id" ui-sref-active="active" ui-sref="start.flow" ><a href="#/start/flow/flow1">拍牌流程</a></li>
					<li id="nav_service_id" ui-sref-active="active" ui-sref="start.service" ><a href="#/start/service/service1">代拍服务</a></li>
					<li id="nav_software_id" ui-sref-active="active" ui-sref="start.software" ><a href="#/start/software/software1">拍牌软件</a></li>
					<li id="nav_data_id" ui-sref-active="active" ui-sref="start.data" ><a href="#/start/data/data1">历史数据</a></li>
					<li id="nav_about_id" ui-sref-active="active" ui-sref="start.about" ><a href="#/start/about">关于我们</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<!--  li ><a href="#" ng-click="printme()">TEST</a></li>-->
					<!--<li ng-show="UserSvc.getCurrentUser()"><a href="#" ng-click="signOut()">退出登录</a></li>-->
					<!--<li ng-show="UserSvc.getCurrentUser()"><a href="#/userinfo/basic">[ {{ UserSvc.getCurrentUser().userName }} ]</a></li>
					<li ng-show="!UserSvc.getCurrentUser()"><a data-toggle="modal" data-target="#signInBox" href="#">用户登录</a></li>
					<li ng-show="!UserSvc.getCurrentUser()"><a data-toggle="modal" data-target="#signUpBox" href="#">用户注册</a></li>-->
			        <li class="dropdown">
			          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多内容 <span class="caret"></span></a>
			          <ul role="menu" class="dropdown-menu">
						  <!--<li><a href="#">我的信息</a></li>-->
                        <li><a href="http://www.jxplus.cn/hp/" target="_blank">手拍模拟器</a></li>
						  <li><a href="https://test.alltobid.com/" target="_blank">浏览器测试</a></li>
						  <!--<li><a href="#">拍牌日历</a></li>-->
						  <!--<li role="separator" class="divider"></li>-->
						  <li><a href="http://chepai.alltobid.com/" target="_blank">新标书申请</a></li>
						  <li><a href="http://www.alltobid.com/contents/16/79.html" target="_blank">中标查询</a></li>
						  <li><a href="http://www.alltobid.com/contents/16/80.html" target="_blank">标书有效查询</a></li>

                        <!--<li><a href="/act/signOut">退出登录</a></li>-->
                    </ul>
                </li>
              </ul>
        </div>
        <!--/.nav-collapse -->

		</div>
	</nav>

	<div ui-view></div>

		
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-road" aria-hidden="true"></span></a>
				</div>
				<a class="navbar-brand navbar-right" href="#">这是一个专业的沪牌一站式服务平台</a>
			</div>
		</nav>
	<!--
		&lt;!&ndash; signIn Modal  &ndash;&gt;
		<div ng-include="'parts/signInBox.html'" ></div>
	
		&lt;!&ndash; signUp Modal &ndash;&gt;
		<div ng-include="'parts/signUpBox.html'" ></div>
	-->
		<!-- Bootstrap core JavaScript
	    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!--
		 IE10 viewport hack for Surface/desktop Windows 8 bug 
		<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
		-->
		<script src="//cdn.bootcss.com/angular.js/1.2.0/angular.min.js"></script>
		<script src="//cdn.bootcss.com/angular.js/1.2.0/angular-animate.min.js"></script>
		<script src="//cdn.bootcss.com/angular-ui-router/1.0.0-alpha0/angular-ui-router.js"></script>
		
		<script src="js/ang/app_filter.js"></script>
		<script src="js/ang/app_svc.js"></script>
		<script src="js/ang/app.js"></script>
		<script src="js/ang/controller/home.js"></script>
		<script src="js/ang/controller/signIn.js"></script>
		<script src="js/ang/controller/signUp.js"></script>
		<script src="js/ang/controller/forget.js"></script>

	<script src="js/table/bootstrap-table.js"></script>


</body>
</html>
</stripes:layout-definition>